<div class="mortgage-calculators-widget-wrapper">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Ask Mortgage Authority&trade; Calculators</h1>
            </div>
        </div>
        <div class="row"> <!-- APR Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Annual-Percentage-Rate" class=" -link"
                            data-calculator="Annual-Percentage-Rate"> <i
                                class="fas fa-percentage fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">APR Calculator</h5>
                    </div>
                </div>
            </div> <!-- Debt Consolidation Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Debt-Consolidation" class=" -link"
                            data-calculator="Debt-Consolidation"> <i class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i>
                        </a>
                        <h5 class="card-title fs-6">Debt Consolidation</h5>
                    </div>
                </div>
            </div> <!-- Early Payoff Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Early-Payoff" class=" -link"
                            data-calculator="Early-Payoff"> <i class="fas fa-clock fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Early Payoff</h5>
                    </div>
                </div>
            </div> <!-- Payment Amortization Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Payment-Amortization" class=" -link"
                            data-calculator="Payment-Amortization"> <i
                                class="fas fa-money-check-alt fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Payment Amortization</h5>
                    </div>
                </div>
            </div> <!-- Prepayment Savings Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Prepayment-Savings" class=" -link"
                            data-calculator="Prepayment-Savings"> <i class="fas fa-piggy-bank fa-3x mb-3 mx-0 p-2"></i>
                        </a>
                        <h5 class="card-title fs-6">Prepayment Savings</h5>
                    </div>
                </div>
            </div> <!-- Refinance Break Even Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Refinance-Break-Even" class=" -link"
                            data-calculator="Refinance-Break-Even"> <i
                                class="fas fa-balance-scale fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Refinance Break Even</h5>
                    </div>
                </div>
            </div> <!-- Rent vs Own Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Rent-Vs-Own" class=" -link"
                            data-calculator="Rent-Vs-Own"> <i class="fas fa-home fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Rent vs Own</h5>
                    </div>
                </div>
            </div> <!-- Tax Savings Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Tax-Savings" class=" -link"
                            data-calculator="Tax-Savings"> <i
                                class="fas fa-file-invoice-dollar fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Tax Savings</h5>
                    </div>
                </div>
            </div> <!-- Loan Calculator (Financial Calculators) -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Financial-Calculators" class=" -link"
                            data-calculator="Financial-Calculators"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Loan Calculator</h5>
                    </div>
                </div>
            </div> <!-- TVM Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/TVM-Calculator" class=" -link"
                            data-calculator="TVM-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">TVM Calculator</h5>
                    </div>
                </div>
            </div> <!-- Currency Converter -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Currency-Converter" class=" -link"
                            data-calculator="Currency-Converter"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Currency Converter</h5>
                    </div>
                </div>
            </div> <!-- Compound Interest -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Compound-Interest-Calculator" class=" -link"
                            data-calculator="Compound-Interest-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Compound Interest</h5>
                    </div>
                </div>
            </div> <!-- ROI Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Return-On-Investment-ROI-Calculator" class=" -link"
                            data-calculator="Return-On-Investment-ROI-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">ROI Calculator</h5>
                    </div>
                </div>
            </div> <!-- IRR / NPV -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/IRR-NPV-Calculator" class=" -link"
                            data-calculator="IRR-NPV-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">IRR / NPV</h5>
                    </div>
                </div>
            </div> <!-- Bond Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Bond-Calculator" class=" -link"
                            data-calculator="Bond-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Bond Calculator</h5>
                    </div>
                </div>
            </div> <!-- Tax Equivalent Yield -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Tax-Equivalent-Yield-Calculator" class=" -link"
                            data-calculator="Tax-Equivalent-Yield-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Tax Equivalent Yield</h5>
                    </div>
                </div>
            </div> <!-- Rule of 72 -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Rule-72-Calculator" class=" -link"
                            data-calculator="Rule-72-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Rule of 72</h5>
                    </div>
                </div>
            </div> <!-- College Savings -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/College-Savings-Calculator" class=" -link"
                            data-calculator="College-Savings-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">College Savings</h5>
                    </div>
                </div>
            </div> <!-- Investment Income -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Investment-Income-Calculator" class=" -link"
                            data-calculator="Investment-Income-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Investment Income</h5>
                    </div>
                </div>
            </div> <!-- HSA -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/US-Health-Savings-Account-Calculator" class=" -link"
                            data-calculator="US-Health-Savings-Account-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">HSA Calculator</h5>
                    </div>
                </div>
            </div> <!-- Savings Goal -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Savings-Goal-Calculator" class=" -link"
                            data-calculator="Savings-Goal-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Savings Goal</h5>
                    </div>
                </div>
            </div> <!-- Loan Comparison -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Comparison-Calculator" class=" -link"
                            data-calculator="Loan-Comparison-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Loan Comparison</h5>
                    </div>
                </div>
            </div> <!-- Loan Refinance -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Refinance-Calculator" class=" -link"
                            data-calculator="Loan-Refinance-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Loan Refinance</h5>
                    </div>
                </div>
            </div> <!-- Commercial Loan -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Commercial-Loan-Calculator" class=" -link"
                            data-calculator="Commercial-Loan-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Commercial Loan</h5>
                    </div>
                </div>
            </div> <!-- Loan Affordability -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Affordability-Calculator" class=" -link"
                            data-calculator="Loan-Affordability-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Loan Affordability</h5>
                    </div>
                </div>
            </div> <!-- Rent vs Buy -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Rent-Or-Buy-Calculator" class=" -link"
                            data-calculator="Loan-Rent-Or-Buy-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Rent vs Buy</h5>
                    </div>
                </div>
            </div> <!-- Loan Tax Saving -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Tax-Saving-Calculator" class=" -link"
                            data-calculator="Loan-Tax-Saving-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Loan Tax Saving</h5>
                    </div>
                </div>
            </div> <!-- Loan Points -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Points-Calculator" class=" -link"
                            data-calculator="Loan-Points-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Loan Points</h5>
                    </div>
                </div>
            </div> <!-- Adjustable Rate -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Adjustable-Rate-Calculator" class=" -link"
                            data-calculator="Adjustable-Rate-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Adjustable Rate</h5>
                    </div>
                </div>
            </div> <!-- Adjustable vs Fixed -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Adjust-Vs-Fixed-Calculator" class=" -link"
                            data-calculator="Loan-Adjust-Vs-Fixed-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Adjustable vs Fixed</h5>
                    </div>
                </div>
            </div> <!-- Biweekly Payment -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Biweekly-Calculator" class=" -link"
                            data-calculator="Loan-Biweekly-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Biweekly Payment</h5>
                    </div>
                </div>
            </div> <!-- Interest Only -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Interest-Only-Calculator" class=" -link"
                            data-calculator="Loan-Interest-Only-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Interest Only</h5>
                    </div>
                </div>
            </div> <!-- Rental Property -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Loan-Rental-Property-Calculator" class=" -link"
                            data-calculator="Loan-Rental-Property-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Rental Property</h5>
                    </div>
                </div>
            </div> <!-- Retirement Planner -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Retirement-Planner" class=" -link"
                            data-calculator="Retirement-Planner"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Retirement Planner</h5>
                    </div>
                </div>
            </div> <!-- 401k Contribution -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Retirement-401k-Calculator" class=" -link"
                            data-calculator="Retirement-401k-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">401k Contribution</h5>
                    </div>
                </div>
            </div> <!-- 401k Save the Max -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Retirement-401k-Save-Max-Calculator" class=" -link"
                            data-calculator="Retirement-401k-Save-Max-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">401k Save the Max</h5>
                    </div>
                </div>
            </div> <!-- Retirement Savings Analysis -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Retirement-Savings-Analysis" class=" -link"
                            data-calculator="Retirement-Savings-Analysis"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Retirement Savings Analysis</h5>
                    </div>
                </div>
            </div> <!-- Retirement Income Analysis -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Retirement-Income-Analysis" class=" -link"
                            data-calculator="Retirement-Income-Analysis"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Retirement Income Analysis</h5>
                    </div>
                </div>
            </div> <!-- Traditional vs Roth -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Traditional-IRA-vs-Roth-IRA" class=" -link"
                            data-calculator="Traditional-IRA-vs-Roth-IRA"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Traditional vs Roth IRA</h5>
                    </div>
                </div>
            </div> <!-- RMD -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Required-Minimum-Distribution" class=" -link"
                            data-calculator="Required-Minimum-Distribution"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Required Minimum Distribution</h5>
                    </div>
                </div>
            </div> <!-- Social Security Estimator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Social-Security-Estimator" class=" -link"
                            data-calculator="Social-Security-Estimator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Social Security Estimator</h5>
                    </div>
                </div>
            </div> <!-- Asset Allocation -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Asset-Allocation-Calculator" class=" -link"
                            data-calculator="Asset-Allocation-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Asset Allocation</h5>
                    </div>
                </div>
            </div> <!-- Retirement Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Retirement-Calculator" class=" -link"
                            data-calculator="Retirement-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Retirement Calculator</h5>
                    </div>
                </div>
            </div> <!-- Annuity -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Annuity-Calculator" class=" -link"
                            data-calculator="Annuity-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Annuity Calculator</h5>
                    </div>
                </div>
            </div> <!-- Credit Card Payoff -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Credit-Card-Payoff-Calculator" class=" -link"
                            data-calculator="Credit-Card-Payoff-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Credit Card Payoff</h5>
                    </div>
                </div>
            </div> <!-- Credit Card Minimum -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Credit-Card-Minimum-Payment-Calculator" class=" -link"
                            data-calculator="Credit-Card-Minimum-Payment-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Credit Card Minimum</h5>
                    </div>
                </div>
            </div> <!-- Auto Loan -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Auto-Loan-Calculator" class=" -link"
                            data-calculator="Auto-Loan-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Auto Loan Calculator</h5>
                    </div>
                </div>
            </div> <!-- Auto Lease -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Auto-Lease-Calculator" class=" -link"
                            data-calculator="Auto-Lease-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Auto Lease Calculator</h5>
                    </div>
                </div>
            </div> <!-- Stock Return -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Stock-Return-Calculator" class=" -link"
                            data-calculator="Stock-Return-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Stock Return Calculator</h5>
                    </div>
                </div>
            </div> <!-- Growth Stock -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Growth-Stock-Calculator" class=" -link"
                            data-calculator="Growth-Stock-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Growth Stock Calculator</h5>
                    </div>
                </div>
            </div> <!-- Non-Growth Stock -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Non-Growth-Stock-Calculator" class=" -link"
                            data-calculator="Non-Growth-Stock-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Non-Growth Stock</h5>
                    </div>
                </div>
            </div> <!-- CAPM -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/CAPM-Calculator" class=" -link"
                            data-calculator="CAPM-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">CAPM Calculator</h5>
                    </div>
                </div>
            </div> <!-- Expected Return -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Expected-Return-Calculator" class=" -link"
                            data-calculator="Expected-Return-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Expected Return</h5>
                    </div>
                </div>
            </div> <!-- HPR -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Holding-Period-Return-Calculator" class=" -link"
                            data-calculator="Holding-Period-Return-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Holding Period Return</h5>
                    </div>
                </div>
            </div> <!-- WACC -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Weighted-Average-Cost-of-Capital-Calculator" class=" -link"
                            data-calculator="Weighted-Average-Cost-of-Capital-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">WACC Calculator</h5>
                    </div>
                </div>
            </div> <!-- Option Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Option-Calculator" class=" -link"
                            data-calculator="Option-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Option Calculator</h5>
                    </div>
                </div>
            </div> <!-- Tip Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Tip-Calculator" class=" -link"
                            data-calculator="Tip-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Tip Calculator</h5>
                    </div>
                </div>
            </div> <!-- Discount Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Discount-Calculator" class=" -link"
                            data-calculator="Discount-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Discount Calculator</h5>
                    </div>
                </div>
            </div> <!-- Percentage Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Percentage-Calculator" class=" -link"
                            data-calculator="Percentage-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Percentage Calculator</h5>
                    </div>
                </div>
            </div> <!-- Date Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Date-Calculator" class=" -link"
                            data-calculator="Date-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Date Calculator</h5>
                    </div>
                </div>
            </div> <!-- Unit Conversion -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Unit-Conversion" class=" -link"
                            data-calculator="Unit-Conversion"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Unit Conversion</h5>
                    </div>
                </div>
            </div> <!-- US Inflation -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/US-Inflation-Calculator" class=" -link"
                            data-calculator="US-Inflation-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">US Inflation Calculator</h5>
                    </div>
                </div>
            </div> <!-- US Treasury Bill -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/US-Treasury-Bill-Calculator" class=" -link"
                            data-calculator="US-Treasury-Bill-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">US Treasury Bill</h5>
                    </div>
                </div>
            </div> <!-- Margin & Markup -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Margin-and-Markup-Calculator" class=" -link"
                            data-calculator="Margin-and-Markup-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Margin &amp; Markup</h5>
                    </div>
                </div>
            </div> <!-- Business Forecast -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Business-Forecast-Calculator" class=" -link"
                            data-calculator="Business-Forecast-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Business Forecast</h5>
                    </div>
                </div>
            </div> <!-- Fuel Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Fuel-Calculator" class=" -link"
                            data-calculator="Fuel-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Fuel Calculator</h5>
                    </div>
                </div>
            </div> <!-- Hourly to Salary -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Hourly-to-Salary-Calculator" class=" -link"
                            data-calculator="Hourly-to-Salary-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Hourly to Salary</h5>
                    </div>
                </div>
            </div> <!-- Salary Increase -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Salary-Increase-Calculator" class=" -link"
                            data-calculator="Salary-Increase-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Salary Increase</h5>
                    </div>
                </div>
            </div> <!-- Paycheck -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Paycheck-Calculator" class=" -link"
                            data-calculator="Paycheck-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Paycheck Calculator</h5>
                    </div>
                </div>
            </div> <!-- Net Distribution -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Net-Distribution-Calculator" class=" -link"
                            data-calculator="Net-Distribution-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Net Distribution</h5>
                    </div>
                </div>
            </div> <!-- Effective Rate -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Effective-Rate-Calculator" class=" -link"
                            data-calculator="Effective-Rate-Calculator"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Effective Rate</h5>
                    </div>
                </div>
            </div> <!-- Financial Ratios -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Financial-Ratios" class=" -link"
                            data-calculator="Financial-Ratios"> <i
                                class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Financial Ratios</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
