<div class="mortgage-calculators-widget-wrapper">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Ask Mortgage Authority&trade; Calculators</h1>
            </div>
        </div>
        <div class="row"> <!-- APR Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Annual-Percentage-Rate" class=" -link"
                            data-calculator="Annual-Percentage-Rate"> <i
                                class="fas fa-percentage fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">APR Calculator</h5>
                    </div>
                </div>
            </div> <!-- Debt Consolidation Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Debt-Consolidation" class=" -link"
                            data-calculator="Debt-Consolidation"> <i class="fas fa-calculator fa-3x mb-3 mx-0 p-2"></i>
                        </a>
                        <h5 class="card-title fs-6">Debt Consolidation</h5>
                    </div>
                </div>
            </div> <!-- Early Payoff Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Early-Payoff" class=" -link"
                            data-calculator="Early-Payoff"> <i class="fas fa-clock fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Early Payoff</h5>
                    </div>
                </div>
            </div> <!-- Payment Amortization Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Payment-Amortization" class=" -link"
                            data-calculator="Payment-Amortization"> <i
                                class="fas fa-money-check-alt fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Payment Amortization</h5>
                    </div>
                </div>
            </div> <!-- Prepayment Savings Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Prepayment-Savings" class=" -link"
                            data-calculator="Prepayment-Savings"> <i class="fas fa-piggy-bank fa-3x mb-3 mx-0 p-2"></i>
                        </a>
                        <h5 class="card-title fs-6">Prepayment Savings</h5>
                    </div>
                </div>
            </div> <!-- Refinance Break Even Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Refinance-Break-Even" class=" -link"
                            data-calculator="Refinance-Break-Even"> <i
                                class="fas fa-balance-scale fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Refinance Break Even</h5>
                    </div>
                </div>
            </div> <!-- Rent vs Own Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Rent-Vs-Own" class=" -link"
                            data-calculator="Rent-Vs-Own"> <i class="fas fa-home fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Rent vs Own</h5>
                    </div>
                </div>
            </div> <!-- Tax Savings Calculator -->
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-3 mx-0 p-2">
                <div class="card h-100">
                    <div class="card-body text-center p-2"> <a href="/Tax-Savings" class=" -link"
                            data-calculator="Tax-Savings"> <i
                                class="fas fa-file-invoice-dollar fa-3x mb-3 mx-0 p-2"></i> </a>
                        <h5 class="card-title fs-6">Tax Savings</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>