<div class="mortgage-calculators-widget-wrapper">
  <div class="mortgage-calculators-widget">
    <div class="mortgage-calculators-widget-container mortgage-calculators-widget-container--left">
      <h2 class="mortgage-calculators-widget-title theme-title-text">Rental Property Calculator</h2>
      <p class="mortgage-calculators-widget-description theme-body-text">
        Estimate monthly cash flow, cap rate, and cash-on-cash return for a rental property.
      </p>

      <form id="rental-property-form" class="mortgage-calculators-widget-form" novalidate>
        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-price">Purchase Price</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-price" name="price" autocomplete="off" placeholder="400,000" value="400000">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-down">Down Payment</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-down" name="downPayment" autocomplete="off" placeholder="80,000" value="80000">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-rate">Loan Interest Rate (%)</label>
          <div class="mortgage-calculators-widget-input-container is-percentage">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-rate" name="rate" autocomplete="off" placeholder="6.5" value="6.5">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-years">Loan Term (Years)</label>
          <div class="mortgage-calculators-widget-input-container">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-years" name="years" autocomplete="off" placeholder="30" value="30">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-rent">Monthly Rent</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-rent" name="rent" autocomplete="off" placeholder="2,500" value="2500">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-vacancy">Vacancy Allowance (% of rent)</label>
          <div class="mortgage-calculators-widget-input-container is-percentage">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-vacancy" name="vacancyPct" autocomplete="off" placeholder="5" value="5">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-tax">Property Tax (annual)</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-tax" name="propertyTax" autocomplete="off" placeholder="4,800" value="4800">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-ins">Insurance (annual)</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-ins" name="insurance" autocomplete="off" placeholder="1,200" value="1200">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-hoa">HOA (monthly)</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-hoa" name="hoa" autocomplete="off" placeholder="0" value="0">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-maint">Maintenance Reserve (% of rent)</label>
          <div class="mortgage-calculators-widget-input-container is-percentage">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-maint" name="maintenancePct" autocomplete="off" placeholder="5" value="5">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-mgmt">Property Management (% of rent)</label>
          <div class="mortgage-calculators-widget-input-container is-percentage">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-mgmt" name="managementPct" autocomplete="off" placeholder="8" value="8">
          </div>
        </div>

        <div class="d-flex flex-wrap gap-2">
          <button type="submit" class="btn btn-primary">Calculate</button>
          <button type="reset" class="btn btn-outline-secondary" data-reset>Reset</button>
        </div>
      </form>

      <div id="rental-property-results" class="mt-4" hidden>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Monthly Cash Flow:</div>
          <div id="rp-cashflow" class="theme-title-text"></div>
        </div>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Annual Cash Flow:</div>
          <div id="rp-annual-cashflow" class="theme-title-text"></div>
        </div>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Cap Rate:</div>
          <div id="rp-cap-rate" class="theme-title-text"></div>
        </div>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Cash-on-Cash Return:</div>
          <div id="rp-coc" class="theme-title-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>
