<div class="mortgage-calculators-widget-wrapper">
  <div class="mortgage-calculators-widget">
    <div class="mortgage-calculators-widget-container mortgage-calculators-widget-container--left">
      <h2 class="mortgage-calculators-widget-title theme-title-text">Retirement Planner</h2>
      <p class="mortgage-calculators-widget-description theme-body-text">
        Project your nest egg at retirement and a simple annual withdrawal target.
      </p>

      <form id="retirement-planner-form" class="mortgage-calculators-widget-form" novalidate>
        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-age">Current Age</label>
          <div class="mortgage-calculators-widget-input-container">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-age" name="age" autocomplete="off" placeholder="35" value="35">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-retire-age">Retirement Age</label>
          <div class="mortgage-calculators-widget-input-container">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-retire-age" name="retireAge" autocomplete="off" placeholder="65" value="65">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-balance">Current Savings</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-balance" name="currentBalance" autocomplete="off" placeholder="150,000" value="150000">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-contrib">Annual Contribution</label>
          <div class="mortgage-calculators-widget-input-container is-amount">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-contrib" name="annualContribution" autocomplete="off" placeholder="15,000" value="15000">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-return">Expected Annual Return (%)</label>
          <div class="mortgage-calculators-widget-input-container is-percentage">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-return" name="annualReturn" autocomplete="off" placeholder="6" value="6">
          </div>
        </div>

        <div class="mortgage-calculators-widget-form-group row form-group">
          <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="rp-withdraw">Withdrawal Rate (%/yr)</label>
          <div class="mortgage-calculators-widget-input-container is-percentage">
            <input class="mortgage-calculators-widget-input form-control" type="text" id="rp-withdraw" name="withdrawRate" autocomplete="off" placeholder="4" value="4">
          </div>
        </div>

        <div class="d-flex flex-wrap gap-2">
          <button type="submit" class="btn btn-primary">Calculate</button>
          <button type="reset" class="btn btn-outline-secondary" data-reset>Reset</button>
        </div>
      </form>

      <div id="retirement-planner-results" class="mt-4" hidden>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Years Until Retirement:</div>
          <div id="rp-years-remaining" class="theme-title-text"></div>
        </div>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Balance at Retirement:</div>
          <div id="rp-balance-out" class="theme-title-text"></div>
        </div>
        <div class="mortgage-calculators-widget-result">
          <div class="theme-body-text">Annual Withdrawal (at given rate):</div>
          <div id="rp-withdraw-out" class="theme-title-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>
