<div class="row mortgage-calculators-widget-wrapper">
  
  <div class="col-md-6 mortgage-calculators-widget-container mortgage-calculators-widget-container--left Tax Savings-calculator-container">
    <h2 class="mortgage-calculators-widget-title theme-title-text">Tax Savings Calculator</h2>
    <p class="mortgage-calculators-widget-description theme-body-text">Calculate your yearly tax savings.</p>
   
    <form class="mortgage-calculators-widget-form Tax Savings-form" id="mortgage-calculators-widget-form-js-askmortgageauthority" onsubmit="onCalculatorSubmit(event)" novalidate="">
      <input type="hidden" name="type" value="Tax Savings" autocomplete="off" class="">
      
      <!-- Property Value -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="propertyvalue-askmortgageauthority">Property Value</label>
        <div class="mortgage-calculators-widget-input-container is-amount">
          <input class="mortgage-calculators-widget-input is-amount form-control" type="text" id="propertyvalue-askmortgageauthority" name="propertyvalue" autocomplete="off" placeholder="0.00" data-min="1" data-max="10000000" onkeyup="onInputKeyUp(event, 'amount')" onkeydown="onInputKeyDown(event, 'amount')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary"></label>
        </div>
      </div>

      <!-- Loan Amount -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="loanamount-askmortgageauthority">Loan Amount</label>
        <div class="mortgage-calculators-widget-input-container is-amount">
          <input class="mortgage-calculators-widget-input is-amount form-control" type="text" id="loanamount-askmortgageauthority" name="loanamount" autocomplete="off" placeholder="0.00" data-min="1" data-max="10000000" data-lessthanorequal="Property Value" onkeyup="onInputKeyUp(event, 'amount')" onkeydown="onInputKeyDown(event, 'amount')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary"></label>
        </div>
      </div>

      <!-- Interest Rate -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="interestrate-askmortgageauthority">Interest Rate</label>
        <div class="mortgage-calculators-widget-input-container is-percentage">
          <input class="mortgage-calculators-widget-input is-percentage form-control" type="text" id="interestrate-askmortgageauthority" name="interestrate" autocomplete="off" placeholder="0" data-min="0.001" data-max="25" onkeyup="onInputKeyUp(event, 'percentage')" onkeydown="onInputKeyDown(event, 'percentage')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary"></label>
        </div>
      </div>

      <!-- Loan Term -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="loanterm-askmortgageauthority">Loan Term</label>
        <div class="mortgage-calculators-widget-input-container is-year">
          <input class="mortgage-calculators-widget-input is-year form-control" type="text" id="loanterm-askmortgageauthority" name="loanterm" autocomplete="off" data-min="1" data-max="40" onkeyup="onInputKeyUp(event, 'year')" onkeydown="onInputKeyDown(event, 'year')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary">Years</label>
        </div>
      </div>

      <!-- Points -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="points-askmortgageauthority">Points</label>
        <div class="mortgage-calculators-widget-input-container is-percentage">
          <input class="mortgage-calculators-widget-input is-percentage form-control" type="text" id="points-askmortgageauthority" name="points" autocomplete="off" placeholder="0" data-min="0" data-max="5" onkeyup="onInputKeyUp(event, 'percentage')" onkeydown="onInputKeyDown(event, 'percentage')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary"></label>
        </div>
      </div>

      <!-- Calculate Tax Savings After -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="calculatetaxsavingsafter-askmortgageauthority">Calculate Tax Savings After</label>
        <div class="mortgage-calculators-widget-input-container is-year">
          <input class="mortgage-calculators-widget-input is-year form-control" type="text" id="calculatetaxsavingsafter-askmortgageauthority" name="calculatetaxsavingsafter" autocomplete="off" data-min="1" data-max="40" data-lessthanorequal="Loan Term" onkeyup="onInputKeyUp(event, 'year')" onkeydown="onInputKeyDown(event, 'year')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary">Years</label>
        </div>
      </div>

      <!-- Property Tax Rate -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="propertytaxrate-askmortgageauthority">Property Tax Rate</label>
        <div class="mortgage-calculators-widget-input-container is-percentage">
          <input class="mortgage-calculators-widget-input is-percentage form-control" type="text" id="propertytaxrate-askmortgageauthority" name="propertytaxrate" autocomplete="off" placeholder="0" value="" data-min="0" data-max="100" onkeyup="onInputKeyUp(event, 'percentage')" onkeydown="onInputKeyDown(event, 'percentage')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary"></label>
        </div>
      </div>

      <!-- Your Income Tax Rate -->
      <div class="mortgage-calculators-widget-form-group row form-group">
        <label class="mortgage-calculators-widget-label theme-body-text col-form-label" for="yourincometaxrate-askmortgageauthority">Your Income Tax Rate</label>
        <div class="mortgage-calculators-widget-input-container is-percentage">
          <input class="mortgage-calculators-widget-input is-percentage form-control" type="text" id="yourincometaxrate-askmortgageauthority" name="yourincometaxrate" autocomplete="off" placeholder="0" value="" data-min="0" data-max="100" onkeyup="onInputKeyUp(event, 'percentage')" onkeydown="onInputKeyDown(event, 'percentage')" required="">
          <label class="mortgage-calculators-widget-label mortgage-calculators-widget-label--secondary"></label>
        </div>
      </div>

      <input type="submit" value="Calculate" class="mortgage-calculators-widget-submit btn btn-primary theme-button">
      <p class="mortgage-calculators-widget-disclaimer">Default amounts are hypothetical and may not apply to your individual situation. This calculator provides approximations for informational purposes only. Actual results will be provided by your lender and will likely vary depending on your eligibility and current market rates.</p>
    </form>

  </div>

  <div class="col-md-6 mortgage-calculators-widget-container mortgage-calculators-widget-container--right">
    <h2 class="mortgage-calculators-widget-title theme-body-text" id="mortgage-calculators-widget-results-title-js-askmortgageauthority">Results</h2>
    <button class="mortgage-calculators-widget-print theme-title-text btn btn-secondary" onclick="window.print()" onkeypress="window.ConsumerConnectApps.callOnEnter(event, window.print)">Print</button>
    <div class="line-item-calculator-results" id="mortgage-calculators-widget-results-js-askmortgageauthority" tabindex="0">
      <div class="mortgage-calculators-widget-results">
        <h3 class="mortgage-calculators-widget-subtitle theme-title-text">Total Tax Savings</h3>
        <div class="mortgage-calculators-widget-result theme-body-text" id="totaltaxsavings" data-type="amount" data-placeholder="$0.00">$0.00</div>
      </div>
      <div class="mortgage-calculators-widget-results">
        <h3 class="mortgage-calculators-widget-subtitle theme-title-text">Monthly Mortgage Payment</h3>
        <div class="mortgage-calculators-widget-result theme-body-text" id="monthlymortgagepayment" data-type="amount" data-placeholder="$0.00">$0.00</div>
      </div>
      <div class="mortgage-calculators-widget-results">
        <h3 class="mortgage-calculators-widget-subtitle theme-title-text">Annual Property Tax</h3>
        <div class="mortgage-calculators-widget-result theme-body-text" id="annualpropertytax" data-type="amount" data-placeholder="$0.00">$0.00</div>
      </div>
    </div>
    <div class="rates-calculator-results" id="rates-calculator-results-js-askmortgageauthority" tabindex="0">
    </div>

    <div class="mortgage-calculators-widget-tables-container" id="mortgage-calculators-widget-tables-grandtotal-js-askmortgageauthority" tabindex="0">
    </div>
    <a class="theme-color-links mortgage-calculators-widget-tables-href" tabindex="0" id="mortgage-calculators-widget-tables-href-js-askmortgageauthority" href="/TaxSavings.html#mortgage-calculators-widget-tables-js-askmortgageauthority" aria-label="See full report below on the same page">
      See Full Report Below
    </a>
  </div>

  <div class="mortgage-calculators-widget-tables-container" id="mortgage-calculators-widget-tables-js-askmortgageauthority">
    
  </div>
</div>